<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="navbar-brand">ЖП гари, спирки и линии</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Начало <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/stations}">    Списък с гари и спирки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lines}">   Жп линии</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">    Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">    Вход</a>
            </li>

        </ul>
        <form  class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Търсене" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Търси</button>
        </form>
    </div>
</nav>