<!DOCTYPE html>
<html class="bg-info" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body class="bg-info">
<div th:replace="~{fragments/navbar}"></div>
<h1  class="text-center">За нас</h1>
<div class="w-75 h-75 mx-auto">
<p class="text-md-left">
    Сайтът е направен за всички които имат интерес към железопътния транспорт в България. Може да намерите информация за всички главни и второстепенни железопътни
    линии включваща история, дължина и маршрут на съответната линия. В списъка с гари и спирки може за видите всички жп гари, които
    са подредени по азбучен ред, а спирките са подредени по номер на жп линията, на която са. На някои от гарите и спирките е
    добавена допълнителна информация за тях. Регистрираните потребители ще могат да качват снимки към всяка гара и спирка,
    както и да добяват коментари към своя или чужда снимка. Нерегистрираните потребители ще могат само да разглеждат снимките и коментарите към тях.
</p>
</div>
<p class="text-md-right">
    От екипа на <b>Жп гари, спирки и линии</b>
</p>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>