<!DOCTYPE html>
<html class="bg-info" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body class="bg-info">
<div th:replace="~{fragments/navbar}"></div>
<h1  class="text-center">Контакти</h1>
<div class="w-75 h-75 mx-auto">
    <p>
        <b>Email</b>: ilcho.ivanov11@gmail.com
        <br>
        <i class="fa-brands fa-instagram"></i>
    </p>

</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>