<!DOCTYPE html>
<html class="bg-info" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body class="bg-info d-flex justify-content-center align-items-center">
<div class="col-md-12 text-center">
    <h1>Опа...</h1>
    <h2>Възникна неочаквана грешка</h2>
    <p>
        Искате ли да се върнете към <a th:href="@{/}">началната страница</a>
    </p>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>