<!DOCTYPE html>
<html  class="bg-info" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"</head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<div class="bg-info">
<h1 sec:authorize="!isAuthenticated()" class="text-center">Добре дошли в уебсайта!</h1>
    <h1 sec:authorize="isAuthenticated()" class="text-center">Добре дошли в уебсайта, <span th:text="${username}"></span></h1>

<p class="text-md-left">Сайтът съдържа списък с всички гари и спирки, както и снимки и информация за тях. Може да разгледате всички главни и второстепенни
    жп линии в България и тяхната номерация. Ако се регистрирате ще можете да добавятe снимки към гарите и спирките, както и да оставяте коментари и харесвания.</p>
   <p class="text-danger"> Информацията в сайта не е официална и може да бъде подвеждаща!
</p>
    <div class="d-flex justify-content-center" >
    <img th:src="@{/images/bdz.jpg}" class="w-50 h-50 rounded opacity-50" alt="Жп линия" >
    </div>
    <footer th:replace="~{fragments/footer}" >
    </footer>
</div>
</body>
</html>