<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">
</head>
<body class="bg-info" >
<div th:replace="~{fragments/navbar}"></div>
<p></p>
<a sec:authorize="hasRole('ROLE_ADMIN')" class="d-flex justify-content-center "  style="color: black" th:href="@{/lines/add}">Добави жп линия</a>
<div class="container-fluid w-50 h-50">
    <div th:each="line: ${allRailwayLines}" class="card bg-warning">
        <div class="card-body mx-auto">


            <form  class="d-flex justify-content-center" sec:authorize="hasRole('ROLE_ADMIN')" th:method="delete"
                   th:action="@{/delete/line/{id}(id = ${line.getId()})}">
                <button type="submit" class="btn btn-primary d-flex justify-content-center  mx-auto bg-danger">Изтрий</button>
            </form>
            <a th:href="@{/lines/{id}(id = ${line.getId()})}" class="btn btn-primary d-flex justify-content-center">Жп линия <span th:text="${line.getNumber()}"></span></a>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>