<!DOCTYPE html>
<html  class="bg-info" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body class="bg-info">
<div th:replace="~{fragments/navbar}"></div>


<div class="container section">
    <div class="row">
        <div class="col-md-6">
            <h3> Железопътна линия <span th:text="${line.getNumber()}"></span>
            </h3>
            <p class="font-weight-bold">Дължина: <span th:text="${line.getLength()}"></span>км</p>
            <p class="font-weight-bold">Маршрут: <span th:text="${line.getRoute()}"></span>
            </p>
            <p th:text="${line.getDescription()}">

            </p>
        </div>
        <div class="col-md-6 mx-auto ">
            <img class="img-fluid rounded opacity-50" th:src="@{/images/jpkarta.jpg}" alt=""/>
        </div>
    </div>

</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>