<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body >
<div th:replace="~{fragments/navbar}"></div>
<p></p>
<div th:if="${loginError}" class="error d-flex justify-content-center">Грешен имейл или парола!</div>
<div class="d-flex justify-content-center">
<form th:object="${loginData}" th:method="post" th:action="@{/login}">
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input th:field="*{email}" type="email" name="email" id="form2Example1" class="form-control" />
        <label th:text="#{register_email}" class="form-label" for="form2Example1">Email адрес</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input th:field="*{password}" type="password" name="password"  id="form2Example2" class="form-control" />
        <label th:text="#{register_password}" class="form-label" for="form2Example2">Парола</label>
    </div>


    <!-- Submit button -->
    <button th:text="#{nav_bar_login}"  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Влез</button>


</form>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>