<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body >
<div th:replace="~{fragments/navbar}"></div>
<p></p>
<div class="d-flex justify-content-center">
    <form th:object="${registerData}" th:method="post" th:action="@{/register}">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input th:field="*{email}" th:errorclass="'is-invalid bg-danger'" type="email" id="email" class="form-control" />
            <label class="form-label" for="email">Email адрес</label>
            <br>
            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="danger">Email error message</small>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <input th:field="*{username}" th:errorclass="'is-invalid bg-danger'" type="text" id="username" class="form-control" />
            <label class="form-label" for="username">Потребителско име</label>
            <br>
            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="danger">Username error message</small>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input th:field="*{password}" th:errorclass="'is-invalid bg-danger'" type="password" id="password" class="form-control" />
            <label class="form-label" for="password">Парола</label>
            <br>
            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="danger">Password error message</small>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <input  th:field="*{confirmPassword}" type="password" id="confirmPassword" class="form-control" />
            <label class="form-label" for="confirmPassword">Повтори паролата</label>
            <br>
            <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"  class="danger">Password error message</small>
        </div>
        <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Регистрирай се</button>
    </form>
    </div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>