<!DOCTYPE html>
<html  class="bg-info" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body class="bg-info">
<div th:replace="~{fragments/navbar}"></div>
<p></p>


            <h3 class="text-center"> Железопътна спирка Кликач</h3>
            <p class="font-weight-bold">Наличие на гише за билети: НЕ </p>
            <p class="font-weight-bold">Допълнителна информация:
            </p>
            <p class="font-weight-bold">Снимки:
            </p>
                <a href="#" class="btn btn-primary btn-sm  justify-content-center">Добави снимка</a>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-warning">
                <img th:src="@{/images/bdz.jpg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Автор: Клозет паша</p>
                    <a href="#" class="btn btn-primary d-flex justify-content-center">Коментари</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Add more rows and columns as needed -->
</div>



<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>